<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="ServiceAssemblyName" value="Jufine.Backend.BaseData.ServiceImplement"/>
	</appSettings>
	<connectionStrings>
		<!--27-->
		<add name="BaseDataEntities" connectionString="metadata=res://*/DataAccess.BaseData.csdl|res://*/DataAccess.BaseData.ssdl|res://*/DataAccess.BaseData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BaseData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		<add name="SecurityConn" connectionString="Data Source=.;Initial Catalog=Security;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
			   providerName="System.Data.SqlClient" />
		<add name="SecurityEntities"
			 connectionString="metadata=res://*/DataAccess.Security.csdl|res://*/DataAccess.Security.ssdl|res://*/DataAccess.Security.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Security;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
		  providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>
		<httpRuntime requestValidationMode="2.0" />
		<compilation debug="true" targetFramework="4.0" />

		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
				<add tagPrefix="asp" namespace="AjaxControlToolkit.HTMLEditor" assembly="AjaxControlToolkit" />
				<add tagPrefix="asp" namespace="Com.BaseLibrary.Web" assembly="Com.BaseLibrary.Web" />
			</controls>
		</pages>
	</system.web>

	<system.webServer>
		<handlers>
			<add name="AspNetStaticFileHandler-GIF" path="*.gif" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
			<add name="AspNetStaticFileHandler-JPG" path="*.jpg" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
			<add name="AspNetStaticFileHandler-PNG" path="*.png" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
			<add name="AspNetStaticFileHandler-CSS" path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
			<add name="AspNetStaticFileHandler-JS" path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
		</handlers>
	</system.webServer>

</configuration>
